[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
bottlecors = "*"
"bs4" = "*"
requests = "*"
pip = "==18.0"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.6"
